


@media screen and (min-width: 780px) and (max-width: 1024px){
    
    .logo {
        padding: 30px;
    }
    .card .texts {
        padding-top: 10rem;
    }

    .main__container .container__cards .card{
        width: 30%;
    }

    nav{
        margin: 2rem auto 0 auto;
    }

    .social__icons {
        margin: 1rem 21rem;
    }

    .policies {
        margin: auto 16rem;
    }
}

@media screen and (min-width: 480px) and (max-width: 780px){
    .logo {
        padding: 1rem 0;
        margin-right: 0;
    }
    
    .nav_ul {

    }

    .main__container .container__cards .card{
        width: 30%;
    }
}

@media screen and (max-width: 480px) {
    /*.logo {
        padding: 1rem 0;
        margin-right:0;
    }*/
    
    .nav_ul {
        padding: 1rem 0;
    }

    .nosotros_card {
        width: 19rem !important;
        height: 35rem;
    }


    .nosotros_card_skills {
        width: 100%;
    }

    .main__container .container__cards .card{
        width: 100%;
    }
    
    
    .list_horizontal_container ul li:first-child {
        margin-left: 2rem;
    }

    .list_horizontal_container ul li:last-child {
        margin-right: 2rem;
    }
    
}