@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*color: #fff;*/
  font-family: 'Open Sans', sans-serif;
}


ul {
    list-style-type: none;
}

body {
    background-color: hsl(0, 0%, 100%);
    /* background-image: url(../../static/imgs/bg-mobile.svg);*/
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}


a{
    text-decoration: none !important;
}

/** ====================================
   *          🔰 CONFIG

  ==================================== **/

:root{
    --font-family:"Source Sans Pro",sans-serif;
    --font-size:.885rem;
    --font-regular:400;
    --font-semibold:600;
    --font-bold:700;
    --font-black:900;
    --color-primary:#3167eb;
    --color-secondary:#0D172A;
    --color-primary-light:#fffcf5;
    --color-title:#333;
    --color-text:rgb(110, 105, 105);
    --container-width:72rem;
    --transition:.3s linear;
    --section-spacing:2rem;
    --border-radius:.5rem;
    --border-radius-card:1.25rem;
    --finger-size:2.75rem;
    --letter-spacing:.035rem;
    --box-shadow:0 0 .5rem #d3d3d3;
    --line-height:1.5;
    --line-height-text:2;
    --scroll-margin-top:5rem;
    --header-height:4.5rem;
    --total: #e1ffdf;
    --red: #FF0000;
    --green: green;
}


/** ====================================
   *          🔰 UTILS

  ==================================== **/
.border__bottom {
    border-bottom: 1px solid #e4e4e4 !important;
}

.mt-2{
    margin-top: 2rem;
}

.text-brand{
    color: var(--color-primary);
}


.cart__form {
    width: 100%;
    display: inline;
    white-space: nowrap;
}

.cart__cuantity{

}

.inline_flex {
    display: inline-flex;
}


.cursor_pointer {
    cursor: pointer;
}


/** ====================================
   *          🔰 TABLE
  ==================================== **/

table {
    border-collapse: collapse;
    margin: 2rem auto;
    border: 1px transparent solid;
    border-radius:6px;
    width: 90%;
}



tr {
    text-align: center;
    padding: 0.5rem;
    height: 2.5rem;
}

td, th {
    border-left: 1px transparent solid;
    border-top:  1px transparent solid;
}

th {
    background-color: rgb(235, 235, 250);
    border-top: none;
}

td:first-child, th:first-child {
     border-left: none;
}

.total {
    background-color: var(--total);
    padding: 0 6.5rem;
    text-align: right;
}

.remove {
    background-color: var(--red);
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    width: 5rem;
    display: block;
    font-size: 13px;
}

.order {
    background-color: var(--green);
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem;
    text-align: center;
    width: 5rem;
    display: block;
    font-size: 13px;
    outline: none;
    border: none;
    cursor: pointer;
}




.block_payment {
    display: block;
}

.none_payment {
    display: none;
}


/** ====================================
   *          🔰 PAYMENT
  ==================================== **/

#payment_form {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 90%;
}

#payment_form .form_label {
    margin: .5rem 1rem;
    color: rgba(26,26,26,.7);
    width: 100%;
    
}

#payment_form .content_payment {
    text-align: center;
    vertical-align: middle;
    margin: 40% 5%;
}


#payment_form .flex_item {
    display: flex;
    margin: auto 1rem;
    justify-content: center;
    width: 100%;
}


#payment_form .form_input{
    outline: none;
    border: 1px solid gray;
    border-radius: 6px;
    padding: 0.5rem;
    margin: .5rem 1rem;
    width: 100%;
}


#payment_form .form_input_card {
    outline: none;
    border: 1px solid gray;
    border-radius: 6px 6px 0 0;
    padding: 0.5rem;
    margin: .5rem 1rem 0 1rem;
    width: 100%; 
}


#payment_form .form_input_inline_left {
    outline: none;
    border: 1px solid gray;
    border-radius: 0 0 0 6px;
    padding: 0.5rem;
    margin: 0;
    width: 50%;
    display: inline-flex;
}

#payment_form .form_input_inline_right {
    outline: none;
    border: 1px solid gray;
    border-radius: 0 0 6px 0;
    padding: 0.5rem;
    margin: 0;
    width: 50%;
    display: inline-flex;
}

#payment_form .form_btn_pay {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--green);
    width: 100%;
    margin: .5rem 1rem;
    border-radius: 6px;
    font-size: 16px;
    padding: 0.5rem;
    color: white;
}

/** ====================================
   *          🔰 TITLES
  ==================================== **/

.main__container 
.container_title {
    margin: auto 3rem !important;
}

/** ====================================
   *          🔰 HEADER

  ==================================== **/



/*------------------------*/  



.hero{
    /*display: inline-flex;*/
    width: 100%;
}

.logo {
    padding: 30px 0;
    width: 65%;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 96.9%;
    margin: 1rem 0;
    color: #3167EB;
}


  


nav {
    width: 100%;
    display: flex;
    height: 8rem;
    margin: 0rem auto 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: fixed;
    z-index: 1000;
    background: rgba(255,255,255,.8);
    -webkit-backdrop-filter: blur(1.5rem) saturate(200%);
    backdrop-filter: blur(1.5rem) saturate(200%);
}

.nav_ul {
    padding: 30px 10px;
    text-align: center;
    width: 33.33%;
}

.nav_ulv ul li{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


header nav a{
    color: #3167EB;
    text-decoration: none;
}

#carousel {
    background-color: white;
    height: 17rem;
    width: 100%;
    margin: 0;
    border-radius: 10px;
    overflow: hidden;
    padding: 0.5rem;
    margin-top: 8rem;
    
}
  
#carousel > img {
    width: 100%;
    border-radius:  1.25rem;
    box-shadow: 0 0 .5rem #d3d3d3;
    object-fit: cover;
}

/** ====================================
   *          🔰 FORM

  ==================================== **/


/*  
form {
    display: block;
    padding-top: 30px;
    width: 33.33%;
}
*/

.input__group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 90%;
    margin: 2rem auto;
}

.input-group-append {
    margin-left: -1px;
}

.input-group-append {
    display: flex;
    height: 2.5rem;
}

.input-group-append .btn {
    position: relative;
    z-index: 2;
    height: 2.5rem;
    width: 2.5rem;
}

.fa {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
}



.input__group > .form__search{
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form__search{
    display: block;
    width: 100%;
    height: calc(1.5em + 0.9rem + 2px);
    padding: 0.45rem 0.85rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.37rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form__search:focus {
    color: #495057;
    background-color: #fff;
    border-color: #a5bdf6;
    outline: 0;
    box-shadow: 0px 0.1px .5px rgba(49, 103, 235, 0.27);
}




/** ====================================
   *          🔰 MAIN

  ==================================== **/
#card {
    background-color: white;
    height: 16rem;
    width: 35%;
    min-width: 18rem;
    max-width: 18rem;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 2px 4px 24px #e0e8ff;
    overflow: hidden;
    padding: 2rem;
}
  
#card > img {
    width: 100%;
    /*border-radius: 10px 10px 0 0;*/
}

.flexBoxContainer {
    display: block;
}


  
.leftFlexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.rightFlexBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.link {
    text-decoration: none;
    font-size: 12px;
    color: #4f4f4f;
    font-weight: 600;
}
  
.link:hover {
    color: #3829e0;
}

.btn__search {
    display: block;
    height: 2.5rem;
    width: 2.5rem;
    padding: 8px;
    border: none;
    background-color: #3167EB;
    color: white;
    border-radius: 5px;
    box-shadow: 2px 4px 8px #e0e8ff;
    margin-bottom: 24px;
    cursor: pointer;
}

.btn__transparent {
    outline: none;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn__text_gray {
    color: rgb(65, 65, 65);
    font-size: .9rem;
    font-size: 1rem;
    font-weight: 600;
}

/**/
.main__container{
    /*display: flex;*/
    width: 100%;
    max-width: 1200px;
    margin: auto;
    
    /*gap: 20px;*/
}
.container__carousel{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    position: relative;
}

.main__container .container__cards{
    width: 100%;
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    gap: 20px;
}

.main__container .container__cards .card{
    border-radius: 10px;
	height: 16rem;
	font-weight: bold;
	padding: 20px;
	position: relative;
	overflow: hidden;
	background-size: 10rem 8rem;
    background-repeat: no-repeat;
	background-position: center center;
    width: 33.33%;
    margin: auto;
    /*box-shadow: 0px 3px 4px 0px #e0e8ff;*/
    box-shadow: 0px 8px 20px rgba(49, 103, 235, 0.27);
    cursor: pointer;
}


.card .texts{
    padding-top: 9rem;
    height: 2rem;
    width: 100%;
    justify-content: space-between;
}

.card .texts h3{
    font-size: 0.9rem;
}

.card .texts p{
    font-weight: 500;
    font-size: 0.8rem;
}

.list_horizontal_container {
    display: flex;
    overflow: auto;
    padding: 1rem 0;
    width: 100vw;
}

.list_horizontal_container ul {
    display: flex!important;
    list-style-type: none;
    margin: auto;
    margin-block-start: 0;
    padding-inline-start: 0;
    text-decoration: none;
    width: 300vw;
    margin: auto;
    justify-content: center;
}

.list_horizontal_container ul li {
    background: #3167EB;
    border-radius: 10px;
    min-width: 7rem;
    color: white;
    float: left;
    text-align: center;
    vertical-align: middle;
    justify-content: center;
    margin: auto 0.5rem;
    cursor: pointer;
}



.render__items {
    display: flex;
    width: 100%;
}

/*.render__items .chip {
    background: #3167EB;
    border-radius: 10px;
    width: 7rem;
    text-align: center;
    color: white;
    float: left;
}*/


/** ====================================
   *          🔰 FOTER

  ==================================== **/
footer{
    height: auto;
    background-color: #3167EB;
    padding: 1rem;
    color: #fff;
}

.mb {
    margin-bottom: 24px;
}

.description {
    font-size: 16px;
    color: grey;
}
  
.social__icons {
    display: flex;
    justify-content: space-between;
    height: auto;
    margin: 1rem 4rem
}

.policies > a {
    margin: 0.5rem auto;
    font-size: 0.7rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.attribution{
    display: flex;
    justify-content: center;
}



.policies{
    color: black;
    gap: 20px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

.attribution{
    margin: 1rem auto 0 auto;
    font-size: 0.7rem;
}


.sticky-cta {
    background-color: #3167eb;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    color: #fff;
    padding: 10px 20px;
    box-sizing: border-box;
    border: 1px solid #3167eb;
}

.sticky-cta .cta-container {
    margin: 0 auto;
    display: flex;
}

.sticky-cta .cta-container .cta.whatsapp-color {
    background-color: #25d366;
}

.sticky-cta .cta-container .cta.whatsapp-color a {
    color: white;
}

.sticky-cta .cta-container .cta {
    font-weight: 700;
    flex: 1 1;
    background-color: #ffcd00;
    border-radius: 5px;
    padding: 15px 10px;
    text-align: center;
    margin: 5px;
}



.icon {
    color: white;
}


/** ====================================
   *          🔰 EFFECTS

  ==================================== **/

.contact-wrapper-top {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

/** ====================================
   *          🔰 EFFECTS

  ==================================== **/

/* Search */  
.is-hidden{
    display: none;
}

.shopping_cart{
    height: 27px;
    width: 17.5%;
}


/*Contact*/


#contact{
    height: 5rem;
    width: 100%;
}

/* Hamburguer */  

#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 17.5%;
    margin: 0;
    overflow: visible;
    position: relative;
    z-index: 20000000;
  }

  #burger-menu span,
  #burger-menu span:before,
  #burger-menu span:after {
    background: #3167EB;
    display: block;
    height: 4px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
  }
  #burger-menu span:before,
  #burger-menu span:after {
    content: "";
  }
  #burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
  }
  #burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 16px;
  }
  #burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 20px;
  }
  
  #burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
  }
  #burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
  }
  #burger-menu.close span:after {
    top: 0px;
    left:0;
    transform: rotate(90deg);
    opacity:0;
    width:0;
  }
  
  #menu{
    z-index:1;
    min-width:100%;
    min-height:100%;
    position: fixed;
    top:0;
    height:0;
    visibility: hidden;
    opacity: 0;
    text-align:center;
    padding-top:20px;
    transition: all 0.3s ease-in-out;
    
  }
  
  #menu.overlay{
    visibility: visible;
    opacity: 1;
    padding-top:100px;
    background: #3971ff;
    z-index: 10000;
    height: 100vh;
    
  }
  
  #menu li{
    list-style:none;
  }
  #menu a{
    color:#fff;
    display:block;
    font-size: 32px;
    margin-bottom:30px;
    text-decoration:none;
    cursor: pointer;
  }

/** ====================================
   *        🔰 Contact

  ==================================== **/
.form__contact {
    width: 100%;
}

.text-centered {
    text-align: center;
}

.horizontal-form {
    background: #3167eb;
    padding: 60px 10px 70px;
}

.contact-form, .download-program-form {
    display: block;
}


.contact-form .input-group, .download-program-form .input-group {
    width: 100%;
    margin-bottom: 10px;
    position: relative;
}

.contact-form .input-group .form-input, .download-program-form .input-group .form-input {
    height: 60px;
    width: 100%;
    border-radius: 15px;
    padding: 0 20px;
    border: 1px solid #e6e6e6;
    box-sizing: border-box;
    outline: none;
}

.btn-send {
    width: 100%;
    border-radius: 15px;
    padding: 10px;
    color: #ffcd00;
    background: #37474f;
    height: 60px;
    outline: none;
    border: none;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

.contact__subtitle{
    text-align: center;
    color: white;
}






/** ====================================
   *          🔰 Login and signup

  ==================================== **/





  /* 
input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
}
  
input[type="submit"] {
    padding: 10px;
    color: #fff;
    background: var(--color-primary);
    width: 320px;
    margin: 20px auto;
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}
  
input[type="submit"]:hover {
    background-color: #00b8eb;
}



*/

.product__img {
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    object-fit: contain;
    width: 7rem;
    height: auto;
}

.inline_flex {
    display: flex;
    margin: auto;
    justify-content: center;
}

.cart__form {
    width: 100%;
    white-space: nowrap;
    display: flex;
    margin: 0.5rem auto;
    justify-content: center;
}

.cart__cuantity {
    width: 4rem;
    height: 2.5rem;
    text-align: center;
    margin: 0 0.5rem;
}

.cart__btn_add {
    width: 4rem;
    height: 2.5rem;
    padding: 10px;
    color: #fff;
    background: var(--color-primary);
    margin-top: 0;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
}

  /* Header */
.auth__header {
    border-bottom: 2px solid #eee;
    padding: 20px 0;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
}

  
.auth__header a {
    text-decoration: none;
    color: #333;
}

.auth__form{
    width: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*--------------------------*/


